<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/PSaaS.css">
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script type="text/javascript" src="../static/bundle.js"></script>
	<script>

		function onSubmit(token) {

				window.onCaptcha(token);	
		}

		window.grecaptchaReset = function(){
			grecaptcha.reset();
		}

	</script>

	<meta charset="UTF-8">
	<title>PSaaS - Party Supplies as a service</title>
</head>
<body>

	<div class="wide">
		<div class="col-xs-5"></div>
		<div class="col-xs-2"><div class="display-4 text-center p-4" style="color:white"> Party Supplies as a Service</div></div>
		<div class="col-xs-5"></div>
	</div>

	<div class="container">
		<h3 id="emptyText" class="display-3 text-center mt-3">Loading Please Wait...</h3>
		<div id="panelDisplay" class="row my-auto" style="justify-content: center; padding-top: 50px;">
			<!--Panel Display Area-->

			<noscript>Your browser does not support Javascript! Without Javascript this WebApp will not function.</noscript>
		</div>
	</div>


	<section style="margin-top: 150px" id="control-panel">
		<div id="controlSection" class="controlSection">
			<div class="dark-overlay">
				<div class="container" style="padding-top: 50px;">
					<div class="card bg-dark text-light text-center card-form">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12">
									<form>
									<div class="d-flex flex-row">
										<h2 style="visibility:hidden" class="display-5 m-auto p-2">What party supplies do you want to order?</h3>
										</div>

										<div class="d-block-flex d-md-flex flex-row py-4 justify-content-between">

											<div class="d-flex flex-col p-2 text-center text-justify text-md-left">
												<legend>What would you like to order?</legend>
											</div>

											<div class="d-flex flex-col p-md-2 text-md-center justify-content-between align-self-center">
												<div class="radio">
													<label class="form-check-label"><input class="form-check-input" type="radio" name="optradio" id="r1" checked="checked"> Beers</label>
												</div>
												<div class="radio">
													<label class="form-check-label"><input class="form-check-input" type="radio" name="optradio" id="r2"> Balloons</label>
												</div>
												<div class="radio">
													<label class="form-check-label"><input class="form-check-input" type="radio" name="optradio" id="r3"> Chips</label>
												</div>
											</div>

										</div>

										<div class="d-block-flex d-md-flex py-4 flex-row justify-content-between">
											<div class="d-flex flex-col p-2 text-center text-md-left">
												<legend>How many would you like to order?</legend>	
											</div>
											<div class="d-block-flex d-md-flex flex-col p-2 text-center text-md-left align-self-center">
							
												<input name="itemAmount"
												 type="number"
												  min="1" max="10" 
												  style="min-width: 300px; max-height: 40px"
												  class="form-control"
												  id="itemAmount" 
												  required
												  placeholder="From 1 to 10"
												  >
											</div>
										</div>

										<div class="d-block-flex d-md-flex py-4 flex-row justify-content-between">
											<div class="d-flex flex-col p-2 text-center text-md-left">
												<legend>Who is ordering this?</legend>
											</div>
											<div class="d-block-flex d-md-flex flex-col p-2 text-center text-md-left align-self-center">
				
												<input type="text"
												name="itemOrderBy"
												style="min-width: 300px; max-height: 40px"
												class="form-control w-100"
												id="itemOrderBy"
												required
												placeholder="Enter name"
												>
											</div>
										</div>

										<div class="d-flex flex-row py-4">
											<div class="d-flex flex-col m-auto">
												<div class="row PanelElement" style="justify-content: center">
													<button 
													id="orderNow"
													type="submit"
													class="btn btn-lg btn-Order g-recaptcha"
													data-sitekey="6LeEjjEUAAAAADvHEKMPTNTW20cflb0YOsdYZSlw"
													data-callback="onSubmit"
													disabled=true>
													Add Suggestion
												</button>												
											</div>											
										</div>								
									</form>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>	
		</section>


  <footer id="main-footer" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="py-4">
            <p>Demonstration Project Manoj Kumar 2017</p>
            </div>
        </div>
      </div>
    </div>
  </footer>

	</body>


	</html>